.bio-wrapper {
  top: 5rem;
  position: sticky;
  //margin: 5rem 0 0 0;
  width: 290px;
  padding: 1.5rem;
  font-size: 15.5px;
  background-color: var(--secondary-dark-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  @media screen and (max-width: 950px) {
    position: relative;
    margin: 2em 0;
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    padding: 1.3em 1em;
  }
}
