.bio-wrapper {
  margin: 5rem auto;
  padding: 2rem;
  font-size: 15.5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.185);
}

.header {
  display: flex;
  margin: 1rem 0;
  h3 {
    font-size: 3rem;
  }
  .emoji {
    margin-right: 2rem;
    img {
      width: 5rem !important;
      height: 5rem !important;
    }
  }
}
.main {
  a {
    text-decoration: underline;
  }
}

.sns-wrapper {
  margin-top: 1.5rem;
  a {
    margin-right: 1rem;
    &:hover {
      opacity: 0.7;
    }
  }
}
