@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap");
@import "../base/settings";

// Header wrapper
.header {
  padding: 0.5rem $l-size;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  a {
    //color: #333;
    color: $title-color;
  }
  // Logo title
  .title {
    font-family: "Darker Grotesque", sans-serif, "Noto Sans CJK JP",
      "Noto Sans JP", Arial, Helvetica;
    font-size: $xl-size;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
}

// Nav-wrapper
.nav-list {
  display: flex;
  padding: 1.5rem 0;
  list-style-type: none;
  font-weight: 100;
}

.nav-item {
  font-size: 1.5rem;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #777777;
}

.active-nav-item {
  padding: 0 0 0.33rem 0;
  color: red;
  border-bottom: black solid 1px;
}

//Dark theme toggle switch

.toggle {
  margin: 0.5rem 0 0 1rem;
}
