// Style individual post cards
@import "../postCard.scss";

// Style for post list
.posts {
  list-style-type: none;
  margin: 1rem 0 5rem 0;
  //background: var(--secondary-color);
  //box-shadow: 0 0 1px rgba(128, 128, 128, 0.185);
  padding: 5rem 5rem 10rem 5rem;
  margin: 0rem auto;
  border-radius: 10px;
  @media only screen and (max-width: 450px) {
    padding: 0;
    margin: 0 0.3rem;
    background: var(--bg-color);
    box-shadow: none;
  }
}
