.tableOfContents {
  position: sticky;
  background: var(--secondary-color);
  padding: 2rem 3rem;
  top: 4rem;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.185);
  border-radius: 3px;
  margin: 0 1rem;
  a {
    margin: 1rem 0;
  }
  .title {
    text-align: center;
    font-weight: 400;
  }
}

.heading {
  display: block;
  font-size: 1.4rem;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
