.post-wrapper {
  margin: 4rem 0 2rem 0;
}

.title {
  margin: 1.5rem 0 2rem 0;
  text-align: center;
  font-weight: 100;
  font-style: normal;
}

.date {
  margin: 2rem 0 3rem 0;
  text-align: center;
  font-style: italic;
}

.tags-wrapper {
  text-align: center;
  display: block;
  margin-bottom: 6rem;
}

.tag {
  text-decoration: none;
  margin-right: 0.7rem;
  padding: 0.2rem 0.5rem;
  border: solid black 1px;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}

.blog-post {
  // Style each headings
  line-height: 1.9;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2rem 0;
    border-left: solid 5px #d9bcd8; /*左線*/
    padding: 0.25em 0.5em;
  }

  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  ul {
    margin: 2rem 0;
    li {
      margin: 1rem;
    }
  }
  p {
    margin: 0.5rem 0;
  }
  a {
    color: cornflowerblue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.prev-next {
  border-top: black solid 1px;
  padding: 3rem 0 0 0;
  margin: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    &:first-child {
      text-align: left;
      width: 48%;
    }
    &:last-child {
      text-align: right;
      width: 48%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.next-article {
  p {
    text-align: right;
  }
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: #dfdfdf;
  width: max;
  height: 15rem;
  border-radius: 15px;

  img {
    width: 8rem !important ;
    height: 8rem !important;
  }
}
