.post {
  font-family: sans-serif, "Noto Sans CJK JP", "Noto Sans JP", Arial, Helvetica;
}

/////
.title {
  margin: 6rem 0 2rem 0;
  text-align: center;
  font-weight: 100;
  font-style: normal;
  color: #222222;
}
//////

.date {
  margin: 2rem 0 8rem 0;
  text-align: center;
  font-style: italic;
  color: grey;
}

.blog-post {
  line-height: 1.5;
  color: #444;
}
