@import "../styles/postCard.scss";

.posts {
  margin: 1rem 0 5rem 0;
  text-align: center;
  ol {
    list-style-type: none;
    margin-bottom: 6rem;
  }
  h3 {
    font-weight: 100;
    font-size: 1.7rem;
    text-align: center;
    margin: 3.3rem 0 5rem 0;
  }
}

.post {
  margin: 1rem 0;

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-bottom: solid 1px #827f7f;
    box-shadow: 0px;
    color: black;
  }

  h2 {
    margin-bottom: 0;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  p {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    color: #555;
  }
  &:hover {
    a,
    h2,
    p {
      color: #a5a1a1;
    }
  }
}

.alltags {
  font-size: 1.6rem;
  margin: 5rem;
  color: #333;
  padding: 0.5rem 1rem;
  border: black solid 1px;
  border-radius: 5px;
  &:hover {
    border: #a5a1a1 solid 1px;
    color: #a5a1a1;
  }
}
