@import "../postCard.scss";

.index-wrapper {
  margin: 3rem auto 0 auto;

  max-width: 850px;
}

.heading {
  padding: 3.4rem 0;
  display: flex;
  justify-content: center;
  h3 {
    font-weight: 100;
    font-size: 1.7rem;
  }
}

.posts {
  list-style-type: none;
  margin: 1rem 0 5rem 0;
}

.emoji-wrapper {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: #dfdfdf;
  width: 5rem;
  height: 5rem;

  img {
    width: 2rem !important ;
    height: 2rem !important;
  }
}

.post {
  margin: 1rem 0;
  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-bottom: solid 1px #827f7f;
    box-shadow: 0px;
    color: black;
  }
  // a:hover{
  //   color: #dfdfdf;
  // }

  h2 {
    margin-bottom: 0;
    font-weight: 400;
    font-style: normal;
    //text-align: center;
  }
  p {
    font-size: 0.8rem;
    font-style: italic;
    //text-align: center;
    color: #555;
  }
  &:hover {
    a,
    h2,
    p {
      color: #a5a1a1;
    }
  }
}

.more-articles {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: #333;
  padding: 1rem 1.3rem;
  border-radius: 5px;
  font-size: 3rem;
  li {
    &:hover {
      color: #a5a1a1;
      text-decoration: underline;
    }
  }
}

// .index-posts {
//  text-align: center;
// }
