.heading {
  padding: 2rem;
  display: flex;
  justify-content: center;
  h3 {
    font-style: normal;
    font-weight: 100;
    font-size: 1.7rem;
  }
}

.tags {
  & > li {
    padding: 0.2rem 1rem;
    margin: 0.4rem;
    border: solid black 1px;
    border-radius: 5px;
    list-style-type: none;
    &:hover {
      opacity: 0.5;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag {
  text-decoration: none;
  font-size: 1.3rem;
}
