.emoji-wrapper {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: #dfdfdf;
  width: 5rem;
  height: 5rem;

  img {
    width: 2rem !important ;
    height: 2rem !important;
  }
}
