@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f6f6;
  font-family: "Darker Grotesque", sans-serif, "Noto Sans CJK JP",
    "Noto Sans JP", Arial, Helvetica;
}
