.post-card {
  a {
    border-top: solid 1px black;
    display: flex;
    flex-direction: row;
    padding: 1.4em 0;
    &:hover {
      background: var(--secondary-color);
    }
  }
}
.post-card-emoji {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: var(--secondary-color);
  margin: 0;
  border-radius: 4px;
  width: 90px;
  height: 90px;
  img {
    width: 5rem !important ;
    height: 5rem !important;
  }
}

.post-card-content {
  width: calc(100% - 90px);
  padding-left: 20px;
  h4 {
    color: grey;
  }
  p {
    background: var(--tertiary-color);
    display: inline;
    color: var(--text-color);
    padding: 0.4rem 1rem;
    border-radius: 3px;
  }
}
