@import "../postCard.scss";

// Post lists
.posts-list {
  margin: 1rem 0 5rem 0;
  ol {
    list-style-type: none;
  }
  h3 {
    font-weight: 100;
    font-size: 1.7rem;
    text-align: center;
    margin: 3.3rem 0 5rem 0;
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  a {
    color: #333;
    padding: 0.3rem 0.7rem;
    border: black solid 1px;
    border-radius: 5px;
    &:hover {
      border: #a5a1a1 solid 1px;
      color: #a5a1a1;
    }
  }
}
