.post-wrapper {
  margin: 0 10rem;
  @media only screen and (max-width: 500px) {
    margin: 0 1rem;
  }
}

.title {
  margin: 1.5rem 0 2rem 0;
  text-align: center;
  font-weight: 100;
  font-style: normal;
}

.date {
  margin: 2rem 0 3rem 0;
  text-align: center;
  font-style: italic;
}

.tags-wrapper {
  text-align: center;
  display: block;
  margin-bottom: 6rem;
}

.tag {
  text-decoration: none;
  background: var(--tertiary-color);
  margin-right: 0.7rem;
  padding: 0.7rem 0.9rem;
  border: solid rgba(128, 128, 128, 0.363) 1px;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}

.blog-post {
  // Style each headings
  background: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.185);

  width: calc(100% - 290px);
  padding: 0 2rem;
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
    margin: 0 0.3rem;
    background: var(--bg-color);
    box-shadow: none;
  }

  line-height: 1.9;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 4rem 0;
    border-left: solid 5px #d9bcd8; /*左線*/
    padding: 0.25em 0.5em;
  }

  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  ul {
    margin: 2rem 0;
    li {
      margin: 1rem;
    }
  }
  p {
    margin: 0.5rem 0;
  }
  a {
    color: var(--link-text-color) !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.prev-next {
  border-top: rgba(63, 61, 61, 0.329) solid 1px;
  padding: 3rem 0 0 0;
  margin: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    &:first-child {
      text-align: left;
      width: 48%;
    }
    &:last-child {
      text-align: right;
      width: 48%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.next-article {
  p {
    text-align: right;
  }
}

@media only screen and (max-width: 450px) {
  .prev-next {
    display: block;
    li {
      &:first-child {
        width: 100%;
        margin-bottom: 2rem;
      }
      &:last-child {
        width: 100%;
      }
    }
  }
}

// Emoji or SVG Thumbnails

.emoji {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: var(--secondary-color);
  width: max;
  height: 30rem;
  border-radius: 7px;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.185);

  img {
    width: 10rem !important ;
    height: 10rem !important;
  }
}

.post-icon {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: var(--secondary-color);
  width: max;
  height: 30rem;
  border-radius: 7px;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.185);

  img {
    width: 10rem !important ;
    height: 10rem !important;
  }
}

.text-wrapper {
  display: flex;
  position: relative;
  .toc-wrapper {
    width: 290px;
    //margin-left: 2rem;
    position: sticky;
    top: 4rem;
  }
  @media only screen and (max-width: 768px) {
    display: block;
    .text-wrapper {
      width: max-content !important;
    }
    .toc-wrapper {
      display: none !important;
      width: 0;
    }
  }
}
