.heading {
  display: flex;
  justify-content: center;
  h3 {
    font-style: normal;
    font-weight: 100;
    font-size: 1.7rem;
  }
  margin: 3rem 0 4rem 0;
}

.profile {
  h3 {
    font-style: normal;
    font-weight: 200;
    padding: 1rem 0;
  }
  p {
    font-size: 1rem;
    padding: 0.2rem 0;
  }
  ul {
    margin-top: 1rem;
    list-style-type: none;
    font-size: 1.2rem;
    li {
      padding-left: 1.5rem;
    }
  }
  a {
    padding: 0.2rem 1rem;
    margin: 0.4rem;
    border: solid black 1px;
    border-radius: 5px;
    &:hover {
      opacity: 0.4;
    }
  }
}
